@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #fff;

  text-rendering: geometricPrecision;
  font-synthesis: none;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
  line-height: 1.2;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green-light: #17cd7e;
  --green-primary: #0db86e;
  --green-secondary: #09ac65;
  --green-dark: #13a164;
  --black-primary: #1e1e1e;
  --black-secondary: #111;
  --gray-primary: #f3f3f3;
  --gray-secondary: #f0f0f0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a:focus {
  outline: none;
}

a:hover::after,
a:focus::after {
  transform: scaleX(1);
}

a::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.1s ease-in-out;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-appear {
  animation: fadeInUp 0.25s ease-out;
}

.scroll-container {
  max-height: 16rem; /* 64 en Tailwind = 16rem */
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  width: 8px; /* siempre ocupa espacio aunque no haya scroll */
}

.scrollbar-custom-auto {
  scrollbar-gutter: stable;
  overflow-y: auto;
}

.scrollbar-custom {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

/* WebKit browsers (Chrome, Edge, etc.) */
.scrollbar-custom-auto::-webkit-scrollbar,
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom-auto::-webkit-scrollbar-track,
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom-auto::-webkit-scrollbar-thumb,
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 9999px;
}

.scrollbar-custom-auto::-webkit-scrollbar-thumb:hover,
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* gray-400 */
}

/* Firefox */
.scrollbar-custom,
.scrollbar-custom-auto {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}
